<div class="container-fluid py-3">
    <div class="row w-100 m-0">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-header bg-white border-0">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <h4>User Management</h4>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="d-flex justify-content-end align-items-center">
                        <a type="button" class="btn btn-dark me-1" (click)="openModal(userModal)">Add User</a>
                      </div>
                    </div>
                  </div>
                   
                </div>
                <div class="table-responsive">
                    <table class="table table-flush m-0">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Full Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Added On</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let user of usersList ; index as idx">
                            <td>{{user["fullName"]}}</td>
                            <td>{{user["email"]}}</td>
                            <td>{{user["addedOn"] | date }}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-dark me-1" (click)="openModal(userModal, user)" >Update</button>
                                <button type="button" class="btn btn-sm btn-dark me-1" (click)="openModal(userViewModal, user)" >View</button>
                                <!--<button type="button" class="btn btn-sm btn-dark me-1">View Orders</button>-->
                                <button type="button" class="btn btn-sm btn-danger me-1" (click)="deleteUser(user.userId)">Delete</button>
                            </td>
                          </tr>                          
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #userModal let-model>
  <app-adduser [userInfo]="userInfo" (closeModel)="closeModel(userModal)"></app-adduser>
</ng-template>
<ng-template #userViewModal let-model>
  <app-viewuser [userInfo]="userInfo" (closeModel)="closeModel(userModal)"></app-viewuser>
</ng-template>